$secondary: #fe9526;
$secondary-100: #fff4e9;
$secondary-200: #ffdfbe;
$secondary-300: #ffca93;
$secondary-400: #feb567;
$secondary-500: #fea03c;
$secondary-600: #e58622;
$secondary-700: #b2681b;
$secondary-800: #7f4b13;
$secondary-900: #331e08;
$secondary-op-8: rgba(254, 149, 38, 0.08);
$secondary-op-16: rgba(254, 149, 38, 0.16);
$secondary-op-24: rgba(254, 149, 38, 0.24);
$secondary-op-32: rgba(254, 149, 38, 0.32);
$secondary-op-40: rgba(254, 149, 38, 0.4);
$secondary-op-48: rgba(254, 149, 38, 0.48);
$white: #FFFFFF;